@import url(http://fonts.googleapis.com/css?family=Black+Ops+One|Roboto+Condensed:400,700);
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: Roboto Condensed, Roboto, Helvetica Neue, Arial, sans-serif;
  color: #eee;
  background-color: #1a1a1a;
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

a {
  color: #eee;
  text-decoration: none; }

.orange {
  color: orangered; }

/*text*/
p {
  padding: 0;
  margin: 0; }

h1 {
  font-family: Black Ops One;
  font-size: 180px;
  letter-spacing: 5px;
  text-align: center;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 20px; }

h2 {
  font-size: 80px;
  margin: 0 0 40px 0;
  padding: 0; }

h3 {
  font-size: 40px;
  margin: 0;
  padding: 0; }

.big-text {
  font-size: 160px;
  text-align: center; }

.title {
  text-align: center; }

.emphasis-text {
  font-size: 32px; }

.feature-text {
  font-size: 22px; }

/*grid*/
.padded {
  padding: 100px 80px; }

.pad-small {
  padding: 40px; }

.margin {
  margin: 20px 0; }

/*.row {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}*/
.col-50 {
  /*display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;*/
  width: 50%;
  height: 100%;
  float: left; }

.col-25 {
  width: 25%;
  height: 100%;
  float: left; }

.col-75 {
  width: 75%;
  height: 100%;
  float: left; }

.col-33 {
  width: 33.33%;
  height: 100%;
  float: left; }

.col-66 {
  width: 66.66%;
  height: 100%;
  float: left; }

.col-40 {
  width: 40%;
  height: 100%;
  float: left; }

.col-60 {
  width: 60%;
  height: 100%;
  float: left; }

.clear {
  clear: both; }

/*sections*/
section {
  height: 90vh; }

.divider {
  height: 20px;
  width: 100%;
  background-color: orangered; }

.light-section {
  background-color: #eee;
  color: #1a1a1a; }

.overlay {
  position: absolute !important;
  top: 286px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 0 !important;
  color: white; }

#intro {
  background-image: url("images/placeholderman.jpg");
  background-size: cover; }
  #intro * {
    position: relative;
    z-index: 1; }
  #intro .overlay {
    position: absolute !important;
    top: 286px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0 !important;
    color: white; }

#circuit {
  background-image: url("images/circuit.jpg");
  background-size: cover;
  width: 100%; }
  #circuit .overlay {
    position: absolute !important;
    top: 1930px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0 !important;
    color: white; }

footer {
  height: 50px;
  color: #333;
  padding: 0 40px; }
  footer * {
    line-height: 50px; }

/*images*/
#engineer {
  width: 80%; }
  #engineer svg {
    fill: #eee; }

#gear {
  width: 100%; }
  #gear svg {
    fill: #1a1a1a;
    -webkit-animation-name: rotate;
    animation-name: rotate;
    -moz-animation-name: rotate;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -moz-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -moz-animation-timing-function: linear; }

/*animations*/
.hover {
  -webkit-transition: background 0.4s linear;
  -moz-transition: background 0.4s linear;
  -ms-transition: background 0.4s linear;
  -o-transition: background 0.4s linear;
  transition: background 0.4s linear; }

.hover:hover {
  background-color: #222; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes rotate {
  from {
    transform: rotate(0deg);
    -moz-transform: rotate(0deg); }
  to {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg); } }

/*# sourceMappingURL=style.css.map */
